*{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; 
}

a{
    text-decoration: none;
}

/*!-----HEADER-----*/
.bg-menu{
    background-color: #5C735C; 
}

.navbar-brand img {
    max-width: 100%; 
}

header nav img{
    width: 120px;
    filter: invert(100%);
}

.navbar-nav {
    margin-left: auto;
    padding-top: 20px;
    margin-bottom: 2px;
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    list-style: none;
}

/*!-----MAIN-----*/
main {
    background-image: url('../img/fondo-1.jpg'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
}

.hero {
    position: relative; 
}

.carousel-inner {
    max-height: 600px; 
    overflow: hidden; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 
    max-height: 50%; 
    object-fit: contain; 
}

.intro {
    width: 100vh;
    margin-top: 20px; 
    text-align: left; 
    padding: 20px;
}


.intro p {
    text-align: justify;
    margin: 0;
    font-family: Roboto, sans-serif;
    white-space: normal;
    hyphens: auto;
    line-height: 1.5;
    font-size: 20px;
    width: 120%; 
    color:#ffffff;
    background-color:rgba(83, 83, 83, 0.772);
    border: 1px solid rgba(83, 83, 83, 0.772);
    border-radius: 10px;
    padding: 5px;
}

.grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    align-items: center; 
    margin: 20px;
}

.intro {
    grid-column: 1; 
}

.tarjeta {
    grid-column: 2; 
    height: 200px;
    border-radius: 25px;
    margin-left: 150px;
}

.tarjeta-cuerpo {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 350px;    
    height: 200px;      
    background-color: #ffffffc2;      
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: 0px 0px 33px -4px #000000;
-webkit-box-shadow: 0px 0px 33px -4px #000000;
-moz-box-shadow: 0px 0px 33px -4px #000000;
}

.tarjeta-titulo {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;       
    white-space: pre;
}

.tarjeta-cuerpo {
    color: #6c757d;
}



.proyectos {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-direction: row-reverse;
    margin-left: 10px;
    padding: 10px;
}

.titulo-parrafo {
    justify-content: center;
    text-align: start;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    display: inline-block; 
    margin: 10px; 
    padding: 20px;
}

.proyectos a{
    text-decoration: none;
}



.proyectos p {
    text-align: justify;
    width: 100%;
    font-size: 110%;
    margin-right: 300px;
    margin-top: 80px;
    line-height: 1.5;
    word-spacing: normal; 
    letter-spacing: normal; 
    white-space: normal; 
    hyphens: auto; 
    font-family: Roboto, sans-serif;
    padding: 8px;
}

.proyecto-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
}

.proyecto-item {
    width: 250px;
    height: 230px;
    border: 1px solid #ffffff; 
    overflow: hidden; 
    text-align: center; 
}

.proyecto-item:nth-child(3) { 
    grid-row: span 2; 
    object-fit: cover;
    height: 465px;
}

.proyecto-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}


.proyecto-item h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: rgba(255, 255, 255, 0.7); 
    background-color: rgba(0, 0, 0, 0.505); 
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 90%;
}


.proyecto-item {
    position: relative; 
}

.proyects {
    background-image: url('../img/fondo-5.jpg'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    padding: 20px; 
}

.doc-proyectos h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color:#ffffff;
}

.doc-proyectos p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 20px;
    color:#ffffff;
    background-color:rgba(83, 83, 83, 0.523);
    border: 1px solid rgba(83, 83, 83, 0.523);
    border-radius: 10px;
    padding: 5px;
}

.quien-soy-main {
    background-image: url('../img/pexels-tima-miroshnichenko-5717271.jpg'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    padding: 20px; 
}



.sobre-mi h2{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
}

.sobre-mi p{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
    margin: 70px;
    font-weight: bold;
    color:#ffffff;
    background-color:rgba(83, 83, 83, 0.676);
    border: 1px solid rgba(83, 83, 83, 0.676);
    border-radius: 10px;
    padding: 5px;
}

.filosofia h2{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
}

.filosofia p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:justify;
    padding: 20px;
    margin: 70px;
    font-weight: bold;
    color:#ffffff;
    background-color:rgba(83, 83, 83, 0.676);
    border: 1px solid rgba(83, 83, 83, 0.676);
    border-radius: 10px;
    padding: 5px;
}


.col-md-2{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nombre, .titulo {
    color: #ffffff;
    background-color: #0000008a; 
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 5px; 
    margin: 5px;
}

.col-md-2 img{
    max-width: 300px; 
    height: auto; 
}

.foto{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 90vh;   
    padding: 20px;
}

.proyectos-tarjetas{
    position: relative; 
    padding: 50px; 
}

.proyectos-tarjetas .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.proyectos-tarjetas .card-img-top {
    height: 200px; 
    object-fit: cover; 
}


.proyectos-tarjetas .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.proyectos-tarjetas .row {
    display: flex;
    flex-wrap: wrap;
}

.proyectos-tarjetas .col-md-4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.nuestros-servicios h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration:none;
    font-weight: bold;
}

.nuestros-servicios p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color:#ffffff;
    background-color:rgba(83, 83, 83, 0.676);
    border: 1px solid rgba(83, 83, 83, 0.676);
    border-radius: 10px;
    padding: 5px;
}

.services{
    background-image: url('../img/fondo-6.jpg'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    padding: 20px; 
}


.servicios{
    padding: 10px;
}

.servicio-diseño {
    position: relative; 
    padding: 50px; 
    border: 1px solid #ddd; 
}

.imagen-superior-derecha {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    width: 60px; 
    height: 60px; 
    object-fit: cover;  
}

.card-body{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49);
    background-color:rgba(255, 255, 255, 0.6);
}

.card-text{
    padding: 20px;
}

.contacto-doc{
    background-image: url('../img/trato.jpg'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    padding: 20px; 
    display: block;
}

.contacto h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin: 20px;
}

.info-adicional{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin: 200px;
}

.info-adicional h2{
    font-size: 50px;
    margin: 50px;
}

.detalle-contacto li{
    list-style: none;
}

.detalle-contacto a {
    display: inline-block;
    color: white; 
    text-decoration: none; 
    margin: 10px;
}

.detalle-contacto a:hover {
    text-decoration: underline;
}



/*!-----FOOTER-----*/

footer {
    height: 100%;
    background-color: #5c735c;
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer p {
    margin: 0;
    padding-bottom: 10px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    margin-inline: 30px;
    width: 50px;
    height: 50px;
}

.contact-details {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 15px; 
}

.contact-details li {
    margin-inline: 5px; 
}

.contact-details a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
}

/*!-----MEDIA QUERIES-----*/

@media (max-width: 1024px) {
    

    
    .navbar-nav {
        margin-left: auto;
        padding-top: 10px;
        justify-content: space-around;
    }

    
    .hero {
        max-height: 400px;
    }
    .carousel-inner {
        max-height: 400px;
    }

    
    .intro {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        margin-top: 15px;
    }

    .intro p {
        font-size: 18px;
        width: 100%;
    }

    
    .grid-container {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .tarjeta {
        margin-left: 0;
        width: 100%;
    }

    
    .proyectos {
        flex-direction: column;
        margin-left: 0;
    }

    
    .proyecto-galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .proyecto-item {
        width: 100%;
        height: auto;
    }

    .proyecto-item:nth-child(3) {
        grid-row: span 1;
        height: auto;
    }

    
    footer {
        text-align: center;
        padding: 20px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }

    .contact-details {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    
    .carousel-inner {
        max-height: 300px;
    }

    
    .intro {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
    }

    .intro p {
        font-size: 10px;
        width: 100%;
    }

    .titulo-parrafo p{
        font-size: 10px;
        width: 100%;
        margin-right: 20px;
    }

    
    .grid-container {
        grid-template-columns: 1fr;
    }

    .tarjeta {
        display: none;
    }

    .titulo-parrafo{
        margin-top: -50px;
    }

    .proyectos {
        margin-left: 0;
        flex-direction: column;
    }

    .proyecto-galeria {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .proyecto-item {
        width: 100%;
    }

    
    footer {
        padding: 10px;
    }

    .social-icons img {
        display: flex;
        justify-content: center;
        margin-inline: 2px;
        width: 30px;
        height: 30px;
    }

    .contact-details {
        flex-direction: column;
        gap: 2px;
    }
}

@media (min-width: 1440px) {
    

    .navbar-nav {
        padding-top: 20px;
    }

    
    .hero {
        max-height: 700px;
    }

    .carousel-inner {
        max-height: 700px;
    }

    
    .intro {
        width: 70vw; 
        font-size: 22px;
        padding: 40px;
    }

    
    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 40px;
    }

    
    footer {
        padding: 40px;
    }

    .social-icons img {
        width: 60px;
        height: 60px;
    }

    .contact-details {
        gap: 20px;
    }
}